* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #000;
  color: #fff;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: unset;
}

.dsmeta-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#sales {
  padding: 40px 10px;
}